 




<section class="about"><div></div>

  
    <!--start layer-->
    
    <div class="layer">
        <img src="../../assets/img/contact-img/bg-contact.png" class="w-100" alt="">
        <div class="content">
        <h1 class="line">ABOUT US</h1>
        <h1 class="sectionline wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">WHO WE ARE !</h1>
         
    
    

        </div>
      
    
    </div> 
        <!--end layer-->

                <!--start content-->


        <div class="container main">
            <div class="row">

                    <!--start left side-->

                <div class="col-6 left-side" >
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        M&A Designs, <br>
                        Your Dream Kitchen Awaits <br>
                        M&A Designs established in 2018. Our designers will help you make interior spaces functional, safe, and beautiful by determining space requirements and selecting decorative items, such as colors, lighting, and materials. They read blueprints and aware of building codes and inspection regulations.
                        Our vision aims to make a revolutionary Designs and manufacturing kitchens and Dressing rooms with a unique and elegant design and solution for all our needs in kitchens, so you will always get a premium product and service
                        our workers and technicians are specially selected , sufficient and qualified to provide the best service ever.</p>
                </div>


                    <!--end left side-->


                          <!--start left side-->

                <div class="col-6 right-side"  >
                   <img src="../../assets/img/about/download.png"  class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                </div>


                    <!--end left side-->

                
            </div>

            <div class="icons">
                <img src="../../assets/img/contact-img/Daco_5790355 1.png">
                <img src="../../assets/img/contact-img/new-Instagram-logo-white-glyph-1200x1199 1.png" >
                <img src="../../assets/img/contact-img/image 14.png">

            </div>

            <div class="underline"></div>
        </div>

                <!--end content-->


          

    </section>
    
 