
  @import url('https://fonts.googleapis.com/css2?family=Changa&family=Inter:wght@700&family=Poppins:wght@300&display=swap');
.navbar{
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    z-index: 99;
    padding: 0% !important;
}
.logo{
width:163px;
Height:47.23px;
display: flex;
justify-content: space-between;
align-items: center;
position: absolute;
Top:50px;
Left:55px;
}
.logo h3{
width: 108px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #D6A152;
padding-top: 5px;


}
.links{
list-style-type:none;
display: flex;
justify-content: space-evenly;
align-items: center;
Gap:45px;

position: absolute; 
left: 180px;
top: 50px;

 Height:50px;
border-radius: 25px;
Padding:11px 27px;
background: linear-gradient(180deg, #363636 0%, rgba(54, 54, 54, 0) 41.13%);
transform: translateX(20%);
}
.colorActive{
    color: #fff !important;
}
.links li a{
    text-decoration: none;
    color: rgba(255, 255, 255,.7);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;



 }
.barsCont{
position: absolute; 
left: 32px;
top: 95.32293701171875px;
 cursor: pointer;
}
.bars{
display: none;
position: relative;
height: 5.729164123535156px;
width: 63.46150207519531px;
cursor: pointer;

border-radius: 0px;
background-color: #fff;

}
.bars::after{
content: "";
height: 5.729164123535156px;
width: 50.76919937133789px;
background-color: #fff;
position: absolute;
left: 0;
top: 14px;
}
.bars::before{
content: "";
height: 5.729164123535156px;
width: 50.76919937133789px;
background-color: #fff;
position: absolute;
left: 0px;
top: -14.6458740234375px;

}
.links i{
    display: none;
}
@media screen and (min-width: 991px) and (max-width: 1200px) {

.logo{
width:163px;
left: 50px;
}

.links{
Gap:10px;
left: 180px;
width: auto;
}  
}
@media screen and (min-width: 768px) and (max-width: 991px) {

.logo{
width:140px;
left: 10px;
}
.logo h3{
width: 95px;
height: 29px;
padding-top: 5px;


}
.logo svg{
width: 40px;
}
.links{
Gap:10px;
left: 95px;
width:auto;
}
.links li a{
font-size: 14px;
font-weight: 800;
}
}
@media screen  and (max-width: 768px) {

.bars{
    display: block;
}
.logo{
display: none;
}
.links{
display: grid;
position: absolute;
left: -230px;
top: 66px;
width: 200px;
height: auto; 
background: linear-gradient(180deg, #363636 0%, rgba(54, 54, 54, 0) 94.79%);
border-radius: 0px 132px 0px 0px;
padding:10px 0% 0% 0%; 
}
.links li{
width: 100%;
text-align: left;
padding-left: 50px;
}
.links li a{
font-size: 13px;
}
.links i{
display: block;
color: #D6A152;

}
}
