@import url('https://fonts.googleapis.com/css2?family=Changa&family=Inter:wght@700&family=Poppins:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.contact{
 height: 100vh;
width: 100%;
position: relative;
overflow: hidden;

}
.content{
    position: absolute;
    inset: 0; 
}
.layer{
position: absolute;
inset: 0;
background-color: rgba(0, 0, 0,.91);


}
.sectionline{
    /* GET IN TOUCH */
height: 61px; 
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
transform: translateY(234%);
/* identical to box height */
color: #FFFFFF;


}
.line{
    /* CONTACT US */
    z-index: 5;

    position: absolute;
    top: 35%;
    left: -20%;
    width: 853px;
    height: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 165px;
    line-height: 200px;
    /* identical to box height */
        overflow: hidden;

    
    color: rgba(255, 255, 255, 0.08);
    
    transform: rotate(90deg);
}
.contact-item{
    transform: translateY(40%);
}
.contact-item .item1{
    transform: translate(20%,-10%);

}
.contact-item .item2{
    transform: translate(15%,-25%);

}
.item1 ul{
    list-style-type: none;

}
.item1 ul li a{
display: flex;
align-items: center;
text-decoration: none;
font-family: 'AbdoMaster-Bold';
font-size: 24px;
line-height: 21px;

color: rgba(255, 255, 255, 0.9) !important;
}
.item1 ul li a p{
margin-left: 30px;
}
.img-cont{  
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 88px;
height: 74.15px;
background: #121212;
border-radius: 31px;
}
.location{
    line-height:2 ;
}
.img-cont::after{
    
    content: "";
    width: 169px;
    height: 2px;
    position: absolute;
    top: 120%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.41) ;
    
    
    
}
/*style of svg */
.vector1{
position: absolute;
left: 0.09%;
top: 1.33%;
/* background: linear-gradient(70.25deg, rgba(255, 255, 255, 0.37) 5.13%, rgba(2, 7, 22, 0.37) 93.09%); */
transform: rotate(27deg);
opacity: .29;
z-index: 4;
}
.vector2{
    position: absolute;
    left: 91.87%;
    top: 9.51%;
    border-radius: 50%;
    background: linear-gradient(91.45deg, rgba(255, 255, 255, 0.7) 1.2%, rgba(2, 7, 22, 0.7) 98.77%);
    opacity: 0.09;
    transform: rotate(27deg);

}
.vector3{
    position: absolute;
    left: 88.9%;
    top: 79%;
    border-radius: 50%;
    background: linear-gradient(91.45deg, rgba(255, 255, 255, 0.7) 1.2%, rgba(2, 7, 22, 0.7) 98.77%);
    opacity: 0.09;
    transform: matrix(0.61, -0.79, 0.78, 0.62, 0, 0);
}
.vector4{
position: absolute;
left: 90.61%;
top: 89.48%;
border-radius: 50%;
background: linear-gradient(91.44deg, rgba(255, 255, 255, 0.7) 1.21%, rgba(2, 7, 22, 0.7) 98.79%);
opacity: 0.09;
transform: matrix(0.61, -0.79, 0.78, 0.62, 0, 0);
}
.vector5{
position: absolute;
left: 97.68%;
top: 95.16%;
border-radius: 50%;
background: linear-gradient(91.45deg, rgba(255, 255, 255, 0.7) 1.22%, rgba(2, 7, 22, 0.7) 98.78%);
opacity: 0.09;
transform: matrix(0.61, -0.79, 0.78, 0.62, 0, 0);
}



@media screen and (min-width: 992px) and (max-width: 1200px) {

.contact-item .item1{
    transform: translate(4%,-16%);

}
.contact-item .item2{

transform: translate(-27%,-27%);


}
.contact-item .item2 img{
    width: 130% !important;
}
.line{
    left: -30%;
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
.contact{
height: 100vh;
}
.contact-item .item1{
    transform:  translate(3%,-52%);


}
.contact-item .item2{
    transform:  translate(50%,-157%);


}
.contact-item .item2 img{

width: auto !important;
}
.location{
    line-height: 2.5;
    font-size: 17.5px;
}
.item1 ul li a{
margin-left: 16px;
}
.line{
    left: -37%;
}


}
@media screen and (min-width:500px) and (max-width: 768px) {
.contact{
    height: 140vh;
}
.contact-item .item1{
    transform: translate(1%,-78%);

}
.contact .item2{
    margin: auto;
    transform: translate(1%,-78%);

}
.contact .item2 img{
    width: 90% !important;
}
.location{
    line-height: 2.5;
    font-size: 15.5px;
}
.line{
    display: none;
}
.sectionline{
transform: translate(7%,116%);
}
}
@media screen and (max-width: 499px) {
.contact{
    height: 140vh;
  
}
.contact-item .item1{
    transform: translate(2%,-74%);

}
.contact .item2{
    transform: translate(0%,-82%);

}
.location{
    line-height: 2.5;
    font-size: 11.5px;
}
.item1 ul li a p{
margin-left: 13px;
}
.line{
   display: none;
}
.sectionline{
    font-size: 35px;
    transform: translate(10%,106%);
    }
}

