<section class="contact"><div></div>

  
    
    <div class="layer">
        <img src="../../assets/img/contact-img/bg-contact.png" class="w-100" alt="">
        <div class="content">

            <svg class="vector1" width="325" height="182" viewBox="0 0 325 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.29" d="M279.245 -72.2748C318.319 -44.1713 336.059 29.6531 316.938 49.8802C299.503 68.3121 262.497 30.5441 234.391 48.5322C195.969 73.1207 228.694 166.99 197.053 179.901C178.839 187.327 164.488 157.726 122.767 143.512C51.4718 119.218 5.92193 176.698 -15.7633 153.127C-32.8704 134.533 -24.4188 77.1444 4.76563 54.7956C29.9428 35.5293 55.3634 53.9326 85.0012 30.8584C103.297 16.6059 104.766 1.73751 116.489 -17.7459C149.047 -71.8624 230.752 -107.15 279.245 -72.2748Z" fill="url(#paint0_linear_152_264)" fill-opacity="0.37"/>
                <defs>
                <linearGradient id="paint0_linear_152_264" x1="31.4778" y1="7.22746" x2="254.02" y2="149.458" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector2" width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M49.8607 45.7851C59.3211 33.5984 57.1799 15.947 45.0782 6.35955C32.9766 -3.22786 15.4971 -1.12067 6.03671 11.0661C-3.42365 23.2528 -1.28244 40.9042 10.8192 50.4916C22.9209 60.079 40.4003 57.9719 49.8607 45.7851Z" fill="url(#paint0_linear_258_24)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_258_24" x1="10.2686" y1="50.0554" x2="46.0524" y2="7.16429" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector3" width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M49.8922 45.9678C59.3526 33.781 57.2114 16.1296 45.1097 6.54218C33.008 -3.04522 15.5286 -0.938042 6.06821 11.2487C-3.39215 23.4354 -1.25095 41.0868 10.8507 50.6742C22.9524 60.2617 40.4318 58.1545 49.8922 45.9678Z" fill="url(#paint0_linear_256_17)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_17" x1="10.3001" y1="50.238" x2="46.0839" y2="7.34692" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector4" width="82" height="83" viewBox="0 0 82 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M73.0166 66.9553C86.8647 49.1164 83.7304 23.2782 66.016 9.24415C48.3016 -4.78989 22.7152 -1.70539 8.86711 16.1335C-4.98096 33.9725 -1.84668 59.8106 15.8677 73.8447C33.5821 87.8787 59.1685 84.7942 73.0166 66.9553Z" fill="url(#paint0_linear_256_18)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_18" x1="15.0631" y1="73.192" x2="67.4285" y2="10.4041" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector5" width="52" height="56" viewBox="0 0 52 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M73.0755 67.5069C86.9235 49.6679 83.7893 23.8298 66.0749 9.79572C48.3605 -4.23833 22.774 -1.15385 8.92595 16.6851C-4.92212 34.524 -1.78781 60.3622 15.9266 74.3962C33.641 88.4303 59.2274 85.3458 73.0755 67.5069Z" fill="url(#paint0_linear_256_15)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_15" x1="15.122" y1="73.7436" x2="67.4966" y2="10.9631" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            
                                  


        <h1 class="line">CUSTOMER </h1>
        <h1 class="sectionline">WHAT PEOPLESAY !</h1>
         <!--start contact-item-->
    
    
        <div class="contact-item">
    
            <div class="container">
                <div class="row">
     
    
                    
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside spicalInsde">
                            <h1>01</h1>
                            <h5>Ashraf Bateka</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                شركه M&Aمحترمه جدا جدا وفينش ممتاز وخامات ممتازه ومنتهى الامانه فى الخامات المتفق عليها والمهندسين محترمين جدا جدا فى التعامل وبيهمهم ارضاء العميل وفريق تركيب المطبخ ممتاز
                                جزيل الشكر للمهندس محمد على الجوده العاليه وهو انسان خلاوق جدا جدا
                                شكرا للمهندسه المصممه مهندسه فاطمه على التصميم الجميل وذوق حضرتك الرائع وأهتمامك بأدق التفاصيل فعلا مهندسه تصميم ممتازه
                                شكرا مهندسه ماريز على تعبها معانا وواخده بالها من أدق التفاصيل واى مشكله بتحلها
                                شكرا مهندس حسام ومهندس أحمد فى التركيب وفريق العمل قمه فى الذوق والاخلاق والشغل
                                شكرا لكم جميعا
                                </p>
                           </div>
                        </div>
                    </div>
                    


 
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside spicalInsde">
                            <h1>02</h1>
                            <h5>Meso Dody</h5>
                            <h6>12/1/2023</h6>
                            <p> 

                                When dream vs reality
                                Thank you so much M&A Designs for every small detail. Thanks Eng Mohamed . Many thanks for Eng Fatma & Eng Mariz . Thanks for your concern and your patience . Thanks for Eng Hossam & Eng Ahmed . I really appreciate your effort for achieving my dream . I recommend M&A Designs for you all 🌹🌹
                                </p>
                           </div>
                        </div>
                    </div>


                    
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside spicalInsde">
                            <h1>03</h1>
                            <h5>Mohammed Elsaya</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                أولا أحب أشكر كل المهندسين اللي في المكتب و أخص بالشكر المهندس محمد والمهندس حسام والمهندسه ماريز والمهندسه روضه قمة في الذوق والرقي و المهنية.
                                ثانيا بشكركم جدا على الإحترافيه في الشكل و جودة الخامات ومع ذلك أفضل الأسعار وكلامي بعد بحث في اكتر من شركة . الشغل اتنفذ بكل طلباتي و أنا كان ليا طلبات كتيرة في الإضاءات و إتنفذت على أكمل وجه.
                                المريح أني أتعاملت مع ناس محترفة فاهمة شغلها ومعندهمش إستغلال لأي ظروف . شكرا على تعاملكم شكرا على جودتكم شكرا على احترامكم شكرا على إصراركم أن العميل يكون راضي و مبسوط عند الإستلام شكرا جدا جدا على خدمة ما بعد البيع. أفضل مكان و أرقي مكان في عالم المطابخ و الدريسنج بالتوفيق و إلى الأمام أن شاء الله رقم واحد في مصر
                                
                                </p>
                           </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>04</h1>
                            <h5>Lamiaa Gomaa</h5>
                            <h6>11/10/2022</h6>
                            <p>
                                شكرا على التعامل مع ناس جميله راقيه من اصغرهم لاكبرهم ... شكرا على طولة البال و سعة الصدر ... شكرا على الراحه في التعامل و الوصول لحالة الرضى في تحقيق المطلوب 
                                ... شكرا على جودة المنتج و الدقه في المواعيد .... شكرا للبنات الحلوه المهندسات
                                 .. شكرا للشباب الجميل المهندسين ... شكرا للرجاله الخلوقين العمال ... شكرا للمضيفه المحترمه اللي بتقدم القهوه شكرا لكم كلكم
                                </p>
                           </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>05</h1>
                            <h5>Marwa Mohammed</h5>
                            <h6>11/10/2022</h6>
                            <p>
                                قبل ما أجى عندكم أنا تقريبا لفيت على كل الأسماء الكبيره في عالم المطابخ و الدريسنج محستش بالثقه و الأمانة في التعامل إلا معاكوا فعلا ربنا يبارك لكم قمة في الذوق
                                 و الإحترام و الإخلاص في الشغل والإهتمام بكل التفاصيل انا كانت ليا طلبات صعبه ونفذوها زي ما كنت عايزاها و أكتر انا نفذت معاهم مطبخ و ٢ دريسنج
                                 و ٢ وحدة تلفزيون ماشاء الله مفيش غلطه والأهم من كل ده خدمة ما بعد البيع ممتازه أي ملحوظه على طول بيكونوا عندي إن شاء الله هتبقوا رقم واحد في مصر
                            </p>
                           </div>
                        </div>
                    </div>
 

                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>06</h1>
                            <h5>Aly Samy</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                Thank you very much M&A Designs to all the staff specially Eng. Mariz for the amazing work, high quality , professional designs and materials , highly recommended M&A Designs</p>
                           </div>
                        </div>
                    </div>
 
    
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>07</h1>
                            <h5>Saher saad</h5>
                            <h6>11/10/2022</h6>
                            <p>Thank you very much M&A Designs to all the staff for the good work. Good quality , nice design and clean work, highly recommended</p>
                           </div>
                        </div>
                    </div>



 
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>08</h1>
                            <h5>Asmaa NAbil</h5>
                            <h6>12/1/2023</h6>
                            <p>

                                كلمة شكرا قليله جداااااا بجد مش عارفة ااقول اية المطبخ تحفة اللهم بارك
                                خامات وفينش وتصميم مظبوط بالمللى
                                ماشاء الله دا غير مهندسات المعرض
                                قمة الذوق والأخلاق وسعة الصدر مهندسة ماريز ومهندسة فاطمة الف شكر
                                واللى قاموا بالتركيب قمة الاحترافية والذوق والادب بجد
                                🥰🥰🥰🥰🥰🥰😍😍</p>
                           </div>
                        </div>
                    </div>


                  

                    
                    <div class="col-md-4 col-sm-6 my-4 " >
                        <div class="item">
                           <div class="inside">
                            <h1>09</h1>
                            <h5>Marwa Saleh</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                I recently had the pleasure of working with M&A to design my kitchen, and I am absolutely thrilled with the results. From start to finish, the team at M&A provided top-notch service and expertise.
                                
                                </p>
                           </div>
                        </div>
                    </div>
    
                  



 
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>10</h1>
                            <h5>Heba Ramadan</h5>
                            <h6>12/1/2023</h6>
                            <p>

                                تجربتى معاكوا كانت مميزه جداااا طلعتولى المطبخ تحفه من الوان الى ساعدونى ان اوصل لاحسن لون والديزين تحففه وطوله البال وحسن المعامله من كل الموجودين وبشكر م/ ايه على طوله بالها وتصميمها التحفه لانها عرفت تستغل كل جزء فى المطبخ شكرررا بجدا ليكوا❤❤
                                
                                </p>
                           </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>11</h1>
                            <h5>Rasha Ismail</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                ماشاء الله فعلا فارق التعامل مع مهندسين متخصصين فاهمين ..وتعبنا معنا م .أية في اعادة التصميم كذا مرة وم.ماريز واخدة بالها من أدق التفاصيل وفعلا الخبرة بتفرق..وم.أحمد في التركيب مع فريق العمل قمة في الذوق والأخلاق والشغل المضبوط ..بجد ناس عندهم ضمير ومصداقية
                                </p>
                           </div>
                        </div>
                    </div>
 
    
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>12</h1>
                            <h5>Hassan Khedr</h5>
                            <h6>11/10/2022</h6>
                            <p>

                                شركه ممتازه شغل واحترام مواعيد وامانه في تنفيذ المواصفات والخامات وفنش ممتاز
                                شكرا كل مجموعة العمل</p>
                           </div>
                        </div>
                    </div>



 
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>13</h1>
                            <h5>Shahin Fawzy </h5>
                            <h6>12/1/2023</h6>
                            <p>فريق عمل رائع بقيادة مهندس محمد
                                تصميم مناسب و تنفيذ وتسليم علي الوجه الأكمل
                                موفقين دوما بإذن الله</p>
                           </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>14</h1>
                            <h5>Waleed Helmy</h5>
                            <h6>11/10/2022</h6>
                            <p>
                                الحقيقه المكتب و العاملين علي قدر كبير من الكفاءة و الاخلاص في العمل. من الحاجات التي اصبحت نادره حاليا اني اتصل بالمهندس محمد بعد التركيب باكثر من شهرين لمشكله في المطبخ عند تركيب البوتجاز و المكتب يرسل فريق العمل لحل المشكلة و بدون مقابل</p>
                           </div>
                        </div>
                    </div>
 
    
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>15</h1>
                            <h5>Hoda Saif</h5>
                            <h6>11/10/2022</h6>
                            <p>تجربة متميزة جدا .. ساعدونى فى اختيار التصميم واللون المناسب,تنفيذ المطبخ رائع من حيث الجودة والخامات المستخدمة والاكسسوارت .مبسوطة جدا بالتعامل معاهم وأرشحهم لاى حد ثقة وامانة وجودة واحترام للعميل والتزام بالوقت المتفق عليه ,, شكرا مهندسة ماريز والقائمين على المعرض</p>
                           </div>
                        </div>
                    </div>



 
                    <div class="col-md-4 col-sm-6 my-4" >
                        <div class="item">
                           <div class="inside">
                            <h1>16</h1>
                            <h5>Karim Meki</h5>
                            <h6>12/1/2023</h6>
                            <p>

                                تجربة رائعة و ناس قمة في الاحترام و الاحتراف و الأدب و الضمير بجد ربنا يكرمكم تستحقوا كل خير المطبخ و الدريسينج طلعوا زي الديزاين 
                                و احلي تسلم ايديكم و اتشرفت اني اشتغلت معاكم .. مهندس محمد / مهندسه آيه / مهندسه ماريز / مهندس حسام وكل فريق العمل بجد تشرفوا 🔝🔝🔝🔝</p>
                           </div>
                        </div>
                    </div>


                   
    
                </div>
            </div>
    
        </div>
     
             <!--end contact-item-->
    
    

        </div>
      
    
    </div> 
    
    </section>
    