<section class="contact"><div></div>

  
    
    <div class="layer">
        <img src="../../assets/img/contact-img/bg-contact.png" class="w-100" alt="">
        <div class="content">

            <svg class="vector1" width="325" height="182" viewBox="0 0 325 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.29" d="M279.245 -72.2748C318.319 -44.1713 336.059 29.6531 316.938 49.8802C299.503 68.3121 262.497 30.5441 234.391 48.5322C195.969 73.1207 228.694 166.99 197.053 179.901C178.839 187.327 164.488 157.726 122.767 143.512C51.4718 119.218 5.92193 176.698 -15.7633 153.127C-32.8704 134.533 -24.4188 77.1444 4.76563 54.7956C29.9428 35.5293 55.3634 53.9326 85.0012 30.8584C103.297 16.6059 104.766 1.73751 116.489 -17.7459C149.047 -71.8624 230.752 -107.15 279.245 -72.2748Z" fill="url(#paint0_linear_152_264)" fill-opacity="0.37"/>
                <defs>
                <linearGradient id="paint0_linear_152_264" x1="31.4778" y1="7.22746" x2="254.02" y2="149.458" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector2" width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M49.8607 45.7851C59.3211 33.5984 57.1799 15.947 45.0782 6.35955C32.9766 -3.22786 15.4971 -1.12067 6.03671 11.0661C-3.42365 23.2528 -1.28244 40.9042 10.8192 50.4916C22.9209 60.079 40.4003 57.9719 49.8607 45.7851Z" fill="url(#paint0_linear_258_24)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_258_24" x1="10.2686" y1="50.0554" x2="46.0524" y2="7.16429" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector3" width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M49.8922 45.9678C59.3526 33.781 57.2114 16.1296 45.1097 6.54218C33.008 -3.04522 15.5286 -0.938042 6.06821 11.2487C-3.39215 23.4354 -1.25095 41.0868 10.8507 50.6742C22.9524 60.2617 40.4318 58.1545 49.8922 45.9678Z" fill="url(#paint0_linear_256_17)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_17" x1="10.3001" y1="50.238" x2="46.0839" y2="7.34692" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector4" width="82" height="83" viewBox="0 0 82 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M73.0166 66.9553C86.8647 49.1164 83.7304 23.2782 66.016 9.24415C48.3016 -4.78989 22.7152 -1.70539 8.86711 16.1335C-4.98096 33.9725 -1.84668 59.8106 15.8677 73.8447C33.5821 87.8787 59.1685 84.7942 73.0166 66.9553Z" fill="url(#paint0_linear_256_18)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_18" x1="15.0631" y1="73.192" x2="67.4285" y2="10.4041" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            <svg class="vector5" width="52" height="56" viewBox="0 0 52 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.09" d="M73.0755 67.5069C86.9235 49.6679 83.7893 23.8298 66.0749 9.79572C48.3605 -4.23833 22.774 -1.15385 8.92595 16.6851C-4.92212 34.524 -1.78781 60.3622 15.9266 74.3962C33.641 88.4303 59.2274 85.3458 73.0755 67.5069Z" fill="url(#paint0_linear_256_15)" fill-opacity="0.7"/>
                <defs>
                <linearGradient id="paint0_linear_256_15" x1="15.122" y1="73.7436" x2="67.4966" y2="10.9631" gradientUnits="userSpaceOnUse">
                <stop stop-color="white"/>
                <stop offset="1" stop-color="#020716"/>
                </linearGradient>
                </defs>
            </svg>
            
                                  


        <h1 class="line">CUSTOMER </h1>
        <h1 class="sectionline">WHAT PEOPLESAY !</h1>
         <!--start contact-item-->
    
    
        <div class="contact-item">
    
            <div class="container">
                <div class="row">
     
    
                    <div class="col-md-4 col-sm-6" >
                        <div class="item">
                           <div class="inside">
                            <h1>01</h1>
                            <h5>Saher saad</h5>
                            <h6>11/10/2022</h6>
                            <p>Thank you very much M&A Designs to all the staff for the good work. Good quality ,
                                 nice design and clean work, highly recommended</p>
                           </div>
                        </div>
                    </div>



 
                    <div class="col-md-4 col-sm-6" >
                        <div class="item">
                           <div class="inside">
                            <h1>02</h1>
                            <h5>Ashraf Bateka</h5>
                            <h6>12/1/2023</h6>
                            <p>Thank you very much M&A Designs to all the staff for the good work. Good quality ,
                                 nice design and clean work, highly recommended</p>
                           </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6" >
                        <div class="item">
                           <div class="inside">
                            <h1>01</h1>
                            <h5>Saher saad</h5>
                            <h6>11/10/2022</h6>
                            <p>Thank you very much M&A Designs to all the staff for the good work. Good quality ,
                                 nice design and clean work, highly recommended</p>
                           </div>
                        </div>
                    </div>
 
    
                </div>
            </div>
    
        </div>
     
             <!--end contact-item-->
    
    

        </div>
      
    
    </div> 
    
    </section>
    