

<section class="secCollection"><div></div>

    <div class="collection">
        <h1>COLLECTIONS</h1>
    
        <div class="vertical-line"></div>
         <!--start scollection-video-->
    
    
        <div class="collection-video">
    
            <div class="container">
                <div class="row">
    
                    <div class="col-md-6   mb-5">
                        <div class="item">
                           <img src="../../assets/img/1/cover.jpg">
    
                        </div>
                    </div>
    
                    
                    <div class="col-md-6   mb-5">
                        <div class="item">
                            <img src="../../assets/img/2/cover.jpg">
        
                        </div>
                    </div>
    
                    <div class="col-md-6   mb-5" >
                        <div class="item">
                            <img src="../../assets/img/3/cover.jpg">
        
                        </div>
                    </div>
    
                    <div class="col-md-6   mb-5">
                        <div class="item">
                            <img src="../../assets/img/4/cover.jpg" >
        
                        </div>
                    </div>
    
                    <div class="col-md-6   mb-5">
                        <div class="item">
                            <img src="../../assets/img/5/cover.jpg" >
        
                        </div>
                    </div>
    
                    <div class="col-md-6  mb-5">
                        <div class="item">
                            <img src="../../assets/img/2/cover.jpg">
        
                        </div>
                    </div>
                    
    
    
                </div>
            </div>
    
        </div>
     
             <!--end collection-videoe-->
    
    
    </div> 
    
    </section>
    