
<!--start section main home-->
<section class="home">
  <div class="layer">
  
    <div class="main-home">
  
        <!---------- start video  ------------->
   <img src="../../assets/img/2/image.jpg" alt="" class="myVideo">
   
     <!---------- end video  ------------->
  
       <!-------content------>
       <h1 class="wow  fadeInDown" data-wow-duration=".7s" data-wow-delay=".7s">WELCOME TO M&A DESIGNS</h1>
       
       <h6 class="test"></h6>
  
  
       <div class="showClollect wow  fadeInUp" data-wow-duration=".7s" data-wow-delay=".7s">
  
       
       <a class="show" routerLink="/collection">
        <span>      SHOW COLLECTIONS       </span>
        <i class="fa-solid fa-arrow-right-long"></i> 
        <div class="layer-button">SHOW COLLECTIONS
          <i class="fa-solid fa-arrow-right-long"></i> 
  
        </div>
  
       </a>
      </div>
            <!------- end content------>
  
  
                 <!-- -----whatsapp icon------>
                 <div class="icon-whats">
                  <div class="Msg text-center">
                    <a href="https://api.whatsapp.com/send?phone=201112066177" class="MsgContent" target="_blank">
                     <i id="sendMsg" class="fa-solid fa-paper-plane sendMsg  " ></i>
            
                     <p class="viaMsg">Message <br> via Whatsapp  </p>
                    </a>
            
                  </div>
                  
                </div>
  
         
    </div>  
  </div>
   </section>
  
   
  
    <!--end section main home-->
  
   
    