
<!--start section main home-->
<section class="home">
    <div class="layer">
    
    
      
    
    
    
      <div class="main-home">
    
       <!---------- start video  ------------->
    
     <img src="../../assets/img/2/image.jpg" alt="" class="myVideo">
    
       <!---------- end video  ------------->
    
         <!-------content------>
         <h1 class="wow  bounceInDown" data-wow-duration="1s" data-wow-delay=".2s">WELCOME TO M&A DESIGNS</h1>
         
         <h6 class="test"></h6>
    
    
         <div class="showClollect">
    
         
         <a class="show" routerLink="/collection">
          SHOW COLLECTIONS 
          <i class="fa-solid fa-arrow-right-long"></i> 
         </a>
        </div>
        <!------- end content------>
    
    
          <!-------whatsapp icon------>
    
    
          <div class="icon-whats">
          <div class="Msg text-center">
          <a class="MsgContent">
            <i id="sendMsg" class="fa-solid fa-paper-plane sendMsg  " ></i>
    
            <p class="viaMsg">Message <br> via </p>
          </a>
    
          </div>
    
          </div>
                   
      </div> 
      
    </div>
     </section>
    
    
    
      <!--end section main home-->
    
     